## Ignore the MVN compiled output directories from version tracking
target/

## Ignore project files created by Eclipse
.settings/
.project
.classpath
.DS_STORE

## Ignore project files created by IntelliJ IDEA
*.iml
*.ipr
*.iws
.idea/

## Ignore project files created by NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
META-INF/

## Ignore all *.properties file, EXCEPT build.properties (the default)
*.properties
# SWB actually, ignore build.properties, too. It contains passwords, and git is/may be public.
#!build.properties
build.properties

## Ignore all files with ~ ending which is a backup of old version
*~