/* 

commencement.css 

Changes to display of the submission form for the "Rice University Commencement Programs and Ephemera" community.

*/

.ds-form-label{
  width: 17em;
}

#aspect_submission_StepTransformer_field_dc_title, 
#aspect_submission_StepTransformer_field_dc_title_alternative, 
#aspect_submission_StepTransformer_field_dc_rights_uri, 
#aspect_submission_StepTransformer_field_dc_source_collection, 
#aspect_submission_StepTransformer_field_dc_relation_references, 
#aspect_submission_StepTransformer_field_dc_relation_isReferencedBy, 
#aspect_submission_StepTransformer_field_dc_rights{
  width: 60em;
}

#aspect_submission_StepTransformer_field_dc_contributor_photographer, 
#aspect_submission_StepTransformer_field_dc_contributor_author, 
#aspect_submission_StepTransformer_field_dc_subject_lcsh{
  width: 25em;
}

#aspect_submission_StepTransformer_field_dc_date_issued{
  width: 8em;
}

#aspect_submission_StepTransformer_field_dc_contributor_publisher, 
#aspect_submission_StepTransformer_field_dc_format_medium, 
#aspect_submission_StepTransformer_field_dc_publisher{
  width: 20em;
}

#aspect_submission_StepTransformer_field_dc_language_iso, 
#aspect_submission_StepTransformer_field_dc_date_digital{
  width: 3em;
}